/*common*/
html {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
  padding-top: 50px;
  min-height: 1200px;
  font-family: 'Microsoft YaHei UI', 'Microsoft YaHei', SimSun, 'Segoe UI', Tahoma, Helvetica, Sans-Serif;
}
footer {
  padding: 30px 0;
}
.container {
	margin: 0 auto;
	max-width: 980px;
}
.nav-post {
  display: inline-block;
  margin: 6px 0 0 40px;
}

/*返回信息提示*/
.prompt {
	padding: 50px 100px 50px 50px;
	background: #fafafa;
}
.prompt-inner {
	font-size: 34px;
	font-family: 'Microsoft YaHei UI', 'Microsoft YaHei', SimSun, 'Segoe UI', Tahoma, Helvetica, Sans-Serif;
	text-align: center;
	color: #666;
}
.prompt-inner .ico-success,
.prompt-inner .ico-error {
	position: relative;
	top: -4px;
	display: inline-block;
	margin: 0 10px;
	width: 40px;
	height: 40px;
	vertical-align: middle;
	background: url(../img/sprite.png) no-repeat;
}
.prompt-inner .ico-success {
	background-position: 0 0;
}
.prompt-inner .ico-error {
	background-position: 0 -50px;
}
.prompt-time {
  text-align: center;
}


/*passport*/
.passport {
  position: absolute;
  margin: 0 auto;
  width: 100%;
  height: 1200px;
}
.passport .inner {
  margin: 0 auto;
  width: 100%;
  height: 500px;
  background: url("../img/bg.jpg") top center no-repeat;
  background-size: cover;
}
.passport .intro {
  padding: 30px 0 0 0;
}
.passport .intro h1 {
  margin: 20px 0;
  font-size: 50px;
  color: #fff;
  text-shadow: 0 0 1px #999;
}
.passport .intro h4 {
  margin: 10px 0 0 0;
  color: #999;
  line-height: 30px;
  text-shadow: 0 0 1px #333;
}
.passport .intro .btn-register,
.passport .intro .btn-download {
  margin: 50px 30px 0 0;
  padding: 15px 40px;
  font-size: 28px;
  line-height: 28px;
}
.passport .intro i {
  margin: 0;
  padding: 0;
  width: 20px;
  height: 16px;
  vertical-align: middle;
}
.passport .intro .btn-register {
  text-shadow: 0 1px 0 #007543;
}
.passport .intro .btn-download {
  text-shadow: 0 1px 0 #777;
}
.passport .login {
  position: relative;
  float: right;
  margin: 40px 0;
  padding: 40px;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
}
.passport .login .input-xlarge {
  margin: 0;
  padding: 5px;
  width: 268px;
  height: 32px;
  line-height: 32px;
  font-size: 18px;
}
.passport .login .form-login {
  position: absolute;
}
.passport .login .form-login .btn {
  width: 280px;
  text-shadow: 0 1px 0 #007543;
}
.passport .login .has-error .help-block {
  color: #c66;
}
.passport .login .on-changes {
  display: none;
}
.passport .login .control-group {
  position: relative;
}
.passport .login .email-list {
  position: absolute;
  width: 280px;
  background: #333;
}
.passport .login .email-list p {
  margin: 0;
  padding: 0 10px;
  line-height: 32px;
}
.passport .login .email-list ul {
  margin: 0;
}
.passport .login .email-list li {
  display: block;
  padding: 0 10px;
  width: 260px;
  height: 32px;
  line-height: 32px;
  list-style: none;
  cursor: pointer;
}
.passport .login .email-list li.current {
  background: #555;
}
.passport .login .error-box {
  position: absolute;
  left: 30px;
  bottom: 30px;
  display: none;
  padding: 0 0 0 20px;
  width: 260px;
  height: 50px;
  background: #da4f49;
}
.passport .login .error-box .icon-error {
  display: inline-block;
  float: left;
  margin: 17px 8px;
  width: 16px;
  height: 16px;
  background: url("../img/ico.png") -230px 0;
}
.passport .login .error-box p {
  float: left;
  margin: 0;
  padding: 17px 0 19px;
  line-height: 14px;
  vertical-align: middle;
}

.passport .copyright {
  display: inline-block;
  margin: 40px auto;
  width: 960px;
  text-align: center;
  color: #777;
}
.passport .copyright span {
  padding: 0 5px;
}

/*register*/
.on-changes {
	display: none;
}
.email-list {
	position: absolute;
	z-index: 999;
	width: 280px;
	background: #333;
	color: #fff;
}
.email-list p {
	margin: 0;
	padding: 0 10px;
	line-height: 36px;
}
.email-list ul {
	margin: 0;
}
.email-list li {
	display: block;
	padding: 0 10px;
	width: 260px;
	height: 36px;
	line-height: 36px;
	list-style: none;
	cursor: pointer;
}
.email-list li.current {
  	background: #555;
}
.login-reg {
  	left: 256px;
}


/*topic*/
.topic {
  
  border-bottom: 1px solid #eee;
}
.hover {
  background: #f9f9f9;
  cursor: pointer;
}
.topic-item {
  padding: 15px 0;
}
.topic-item:hover {
  background: #f9f9f9;
  cursor: pointer;
}
.topic-item .info {
  padding-left: 68px;
}

.topic-item .title {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 16px;
}
.topic-item .title a,
.topic-item .title a:active {
  color: #333;
}
.topic-item .title a:hover {
  color: #148f77;
  text-decoration: none;
}
.topic-item .title .badge {
  vertical-align: top;
}
.topic-item .meta {
  font-size: 12px;
  color: #999;
}
.topic-item .meta a,
.topic-item .meta span {
  margin-right: 5px;
}
.topic-reply {
  display: none;
  padding: 20px 40px 0 80px;
  background: #f9f9f9;
  border-top: 1px solid #eee;
}
.topic-reply .form-group {
  margin-bottom: 0;
  padding-bottom: 20px;
}
.topic-reply .form-group textarea {
  height: 50px;
}




