/*common*/
html {
	overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
	padding-top: 50px;
	height: 100%;
	font-family: 'Microsoft YaHei UI', 'Microsoft YaHei', SimSun, 'Segoe UI', Tahoma, Helvetica, Sans-Serif;
}
html, body {
	height: 100%;
}
#wrap {
	min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -100px;
  /* Pad bottom by footer height */
  padding: 0 0 100px;
}
#footer {
	height: 100px;
  background-color: #f5f5f5;
  padding: 20px 0;
	background: #f5f5f5;
	color: #aaa;
}
.container {
	margin: 0 auto;
	/*max-width: 1000px;*/
}
.main {
	padding-top: 40px;
	height: 100%;
	min-height: 780px;
}
.top {
	margin-bottom: 40px;
	background: #f1f1f1;
}


.nav-post {
	display: inline-block;
	margin: 6px 0 0 40px;
}
.nav-search {
	margin-left: 20px;
	width: 200px;
	border: 1px solid #1abc9c;
	border-radius: 3px;
}
.nav-search:focus {
	border-color: #169d82;
}
.navbar-right .dropdown .userinfo {
	width: 170px;
}
.navbar-right li {
	border-right: 1px solid #169d82;
	border-left: 1px solid #ccc;
}
.navbar-right li a {
	padding-left: 15px;
	padding-right: 15px;
}
.navbar-right li:first-child {
	border-left: none;
}
.navbar-right li:last-child {
	border-right: none;
}
.navbar-right li .userinfo {
	padding: 12px 14px;
}

#footer .page-links a {
	color: #aaa;
}
#footer .copyright {
	color: #ccc;
}

/*返回信息提示*/
.prompt {
	padding: 50px 100px 50px 50px;
	background: #fafafa;
}
.prompt-inner {
	font-size: 34px;
	font-family: 'Microsoft YaHei UI', 'Microsoft YaHei', SimSun, 'Segoe UI', Tahoma, Helvetica, Sans-Serif;
	text-align: center;
	color: #666;
}
.prompt-inner .ico-success,
.prompt-inner .ico-error {
	position: relative;
	top: -4px;
	display: inline-block;
	margin: 0 10px;
	width: 40px;
	height: 40px;
	vertical-align: middle;
	background: url(../img/sprite.png) no-repeat;
}
.prompt-inner .ico-success {
	background-position: 0 0;
}
.prompt-inner .ico-error {
	background-position: 0 -50px;
}
.prompt-time {
	text-align: center;
}


/*editor*/

.editor {

}
.editor .btn-toolbar {
	margin-bottom: 10px;
	height: 37px;
	/*overflow: hidden;*/
	background: #fff;
}
.editor .isStuck {
	top: 50px;
	left: 0;
	padding: 0 22%;
	width: 100%;
	box-shadow: 0 1px 5px #ccc;
	position: relative;
	z-index: 1050;
}
.editor input[type="file"] {
  display: inline-block;
}
#editor {
	padding: 10px;
	min-height: 450px;
	height: 100%;
	background-color: white;
	border-collapse: separate;
	/*overflow-y: scroll;*/
	outline: none;
	font-size: 16px;
	z-index: 1050;
}
.editor-toolbar div[data-role="editor-toolbar"] {
	margin-bottom: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.editor-toolbar .dropdown-menu a {
  cursor: pointer;
}

/*share*/
.share-sns {
	display: inline-block;
	padding: 10px 0;
}
.share-sns a span {
	margin-top: 48px;
	height: 30px;
	line-height: 30px;
	display: inline-block;
}

.share-item {
	margin-right: 30px;
	display: inline-block;
	width: 56px;
	height: 78px;
	background: url(../img/ico.png) no-repeat;
	overflow: hidden;
	text-align: center;
	opacity: 0.5;
	fliter: alpha(opacity=50);
	transition: opacity .2s linear;
	-webkit-transition: opacity .2s linear;
}
.share-item:hover {
	opacity: 1;
}
.share-qzone {
	background-position: -100px 0;
}
.share-qzone:hover {
	background-position: -100px -80px;
}
.share-qqmb {
	background-position: -160px 0;
}
.share-qqmb:hover {
	background-position: -160px -80px;
}
.share-qqxiaoyou {
	background-position: -220px 0;
}
.share-qqxiaoyou:hover {
	background-position: -220px -80px;
}
.share-sinaminiblog {
	background-position: -280px 0;
}
.share-sinaminiblog:hover {
	background-position: -280px -80px;
}
.share-qqim {
	background-position: -340px 0;
}
.share-qqim:hover {
	background-position: -340px -80px;
}
.share-renren {
	background-position: -400px 0;
}
.share-renren:hover {
	background-position: -400px -80px;
}
.share-more {
	background-position: -460px 0;
}

/*passport*/
.passport {
	position: absolute;
	margin: 0 auto;
	width: 100%;
	height: 1200px;
}
.passport .inner {
	margin: 0 auto;
	width: 100%;
	height: 500px;
	background: url("../img/bg.jpg") top center no-repeat;
	background-size: cover;
}
.passport .intro {
	padding: 30px 0 0 0;
}
.passport .intro h1 {
	margin: 20px 0;
	font-size: 50px;
	color: #fff;
	text-shadow: 0 0 1px #999;
}
.passport .intro h4 {
	margin: 10px 0 0 0;
	color: #999;
	line-height: 30px;
	text-shadow: 0 0 1px #333;
}
.passport .intro .btn-register,
.passport .intro .btn-download {
	margin: 50px 30px 0 0;
	padding: 15px 40px;
	font-size: 28px;
	line-height: 28px;
}
.passport .intro i {
	margin: 0;
	padding: 0;
	width: 20px;
	height: 16px;
	vertical-align: middle;
}
.passport .intro .btn-register {
	text-shadow: 0 1px 0 #007543;
}
.passport .intro .btn-download {
	text-shadow: 0 1px 0 #777;
}
.passport .login {
	position: relative;
	float: right;
	margin: 40px 0;
	padding: 40px;
	width: 100%;
	background: rgba(0, 0, 0, 0.4);
	color: #fff;
}
.passport .login .input-xlarge {
	margin: 0;
	padding: 5px;
	width: 268px;
	height: 32px;
	line-height: 32px;
	font-size: 18px;
}
.passport .login .form-login {
	position: absolute;
}
.passport .login .form-login .btn {
	width: 280px;
	text-shadow: 0 1px 0 #007543;
}
.passport .login .has-error .help-block {
	color: #c66;
}
.passport .login .on-changes {
	display: none;
}
.passport .login .control-group {
	position: relative;
}
.passport .login .email-list {
	position: absolute;
	width: 280px;
	background: #333;
}
.passport .login .email-list p {
	margin: 0;
	padding: 0 10px;
	line-height: 32px;
}
.passport .login .email-list ul {
	margin: 0;
}
.passport .login .email-list li {
	display: block;
	padding: 0 10px;
	width: 260px;
	height: 32px;
	line-height: 32px;
	list-style: none;
	cursor: pointer;
}
.passport .login .email-list li.current {
	background: #555;
}
.passport .login .error-box {
	position: absolute;
	left: 30px;
	bottom: 30px;
	display: none;
	padding: 0 0 0 20px;
	width: 260px;
	height: 50px;
	background: #da4f49;
}
.passport .login .error-box .icon-error {
	display: inline-block;
	float: left;
	margin: 17px 8px;
	width: 16px;
	height: 16px;
	background: url("../img/ico.png") -230px 0;
}
.passport .login .error-box p {
	float: left;
	margin: 0;
	padding: 17px 0 19px;
	line-height: 14px;
	vertical-align: middle;
}

.passport .copyright {
	display: inline-block;
	margin: 40px auto;
	width: 960px;
	text-align: center;
	color: #777;
}
.passport .copyright span {
	padding: 0 5px;
}

/*register*/
.on-changes {
	display: none;
}
.email-list {
	position: absolute;
	z-index: 999;
	width: 280px;
	background: #333;
	color: #fff;
}
.email-list p {
	margin: 0;
	padding: 0 10px;
	line-height: 36px;
}
.email-list ul {
	margin: 0;
}
.email-list li {
	display: block;
	padding: 0 10px;
	width: 260px;
	height: 36px;
	line-height: 36px;
	list-style: none;
	cursor: pointer;
}
.email-list li.current {
	background: #555;
}
.login-reg {
	left: 256px;
}

/*feed-list*/
.feed-inner h3 {
	margin-top: 0;
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}
.feed-inner .item {
	padding: 10px 0;
	border-bottom: 1px solid #eee;
}
.feed-inner .item .avatar {
	float: left;
	width: 60px;
	height: 60px;
}
.feed-inner .item .body {
	margin: 0 0 0 80px;
	/*background: #333;*/
}
.feed-inner .item .body h4 {
	/*margin-top: 0;*/
}
.feed-inner .item .body .meta {
	display: inline-block;
	color: #999;
}
.feed-inner .item .body .reply-form {
	display: inline-block;
	width: 70%;
	height: 40px;
}
.feed-inner .item .body .reply-form input {
	height: 36px;
}
.feed-inner .item .body .reply-list li {
	margin: 0 0 5px 0;
}
.feed-inner .item .body .reply-list .avatar {
	margin: 3px 10px 0 0;
	width: 30px;
	height: 30px;
}
.feed-inner .item .body .reply-list .info {
	margin: 0 0 0 40px;
	color: #888;
}



/*topic-list*/
.topic-list {

}
.topic-list .tab-nav {
	border-bottom: 1px solid #eee;
}
.topic-list .tab-nav h4 {
	margin-top: 0;
}
.topic-list .tab-nav .sub-tab {
	margin-top: -30px;
}
.topic-list .tab-nav .sub-tab a {
	margin-left: 10px;
}
.topic-list .tab-nav .sub-tab .btn {
	margin-top: -5px;
}
.topic-list .tab-nav .sub-tab a.active {
	color: #999
}
.topic-list .post {
	padding: 10px 0;
	border-bottom: 1px solid #eee;
}
.topic-list .post .avatar {
	float: left;
	width: 60px;
}
.topic-list .post .summary {
	margin: 0 0 0 80px;
	min-height: 30px;
}
.topic-list .post .summary h4 {
	font-size: 16px;
}
.topic-list .post .summary span.badge {
	margin-top: -25px;
}
.topic-list .post .summary .meta {
	font-size: 12px;
	color: #999;
}
.topic-list .post .summary .meta .views {
	margin-right: 10px;
}
/*topic-view*/
.topic-view .avatar {
	float: left;
	width: 70px;
	height: 70px;
}
.topic-view h3 {
	margin: 0;
	line-height: 30px;
}
.topic-view .meta {
	margin: 10px 0 0 70px;
	padding-bottom: 5px;
}
.topic-view .meta .time,
.topic-view .meta .info {
	color: #c5c5c5;
}
.topic-view .meta .info .glyphicon {
	margin: 0 5px 0 20px;
}



.topic-view article {
	padding: 20px 0;
	border-top: 1px solid #eee;
	font-size: 17px;
	line-height: 1.9;
	min-height: 240px;
}
.topic-view article hr {
	margin: 20px auto;
	border-top: 1px dashed #eee;
}
.topic-view .reply-form {
	padding-bottom: 40px;
}




.topic-item .title .badge {
	vertical-align: top;
}
.topic-item .meta {
	font-size: 12px;
	color: #999;
}
.topic-item .meta a,
.topic-item .meta span {
	margin-right: 5px;
}

.link-list {
	padding-left: 20px;
}




/*topic*/
.userinfo {

}
.userinfo .avatar {
	float: left;
	width: 70px;
}
.userinfo .name {
	padding: 0 0 0 70px;
	height: 60px;
}

/*share*/
.share {
	padding: 10px 0 10px 70px;
	/*border-bottom: 1px solid #eee;*/
	word-wrap: break-word;
}


/*replies & reply*/
.replies {
	margin: 0 0 20px 0;
}
.replies h4 {
	margin-bottom: 0;
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid #eee;
}
.replies .list {
	display: inline-block;
	padding: 15px 0;
	width: 100%;
	border-bottom: 1px solid #eee;
}
.replies .list .avatar,
.reply .avatar {
	float: left;
	width: 40px;
	height: 40px;
}
.replies .list .userinfo,
.replies .list .reply,
.replies .list .action,
.reply .userinfo,
.reply .field {
	margin-left: 60px;
}
.replies .list .action a {
	color: #999;
}
.replies .list .userinfo .time {
	margin-left: 10px;
	color: #999;
}
.reply .field {
	margin-top: 5px;
}

/*tags*/
.tags > span {
	margin-bottom: 10px;
}



/*profile*/
.avatar-crop {
	display: inline-block;
	width: 300px;
	height: 300px;
	border: 2px solid #eee;
	background: url(../img/img-upload.png) 86px 86px no-repeat;
}
.avatar-crop .upload-tip {
	margin-top: 120px;
	width: 100%;
	text-align: center;
	font-size: 12px;
	line-height: 24px;
	color: #999;
}
.avatar-crop .upload-tip p {
	margin-bottom: 0;
}


/*user-info*/
.top .bar {
	height: 80px;
	background: #666;
}
.user-info {
	margin-top: -65px;
}
.user-info .avatar {
	float: left;
	margin-right: 20px;
	width: 180px;
	height: 180px;
}
.user-info .name,
.user-info .profile {
	margin-left: 200px;
}
.user-info .name h2 {
	color: #fff;
}
.user-info .profile {
	margin-top: 35px;
}
.user-info .profile p {
	margin-bottom: 5px;
	color: #999;
}


/*topic-line*/
.topic-list {
	/*float: left;*/
	display: inline-block;
	width: 100%;
	margin-bottom: 30px;
}
.topic-line {
	float: left;
	padding-top: 5px;
	width: 100%;
	background: url(../img/spine-bg.png) 120px repeat-y;
}
.topic-line .item {
	float: left;
	margin: 0;
	width: 100%;
	height: 50px;
}
.topic-line .item h4 {
	float: left;
	padding-left: 40px;
	line-height: 30px;
	background: url(../img/spine-dot.png) 10px 4px no-repeat;
}
.topic-line .item .time {
	position: relative;
	float: left;
	margin: 5px 0;
	padding-left: 10px;
	width: 100px;
	height: 40px;
	line-height: 40px;
	background: #eee;
	color: #999;
	border-radius: 3px;
}

/*goods-list*/
.goods-list {
	margin: 0 0 30px 0;
	width: 100%;
	display: inline-block;
	border: 1px solid #eee;
	border-bottom: none;
	border-left: none;
}
.goods-list li {
	position: relative;
	display: inline-block;
	border: 1px solid #eee;
	border-bottom-width: 2px;
	border-right: none;
	border-top: none;
}
.goods-list li:hover {
	border-bottom-width: 2px;
	border-bottom-color: #1abc9c;
	-webkit-transition: border-color 0.2s ease-in-out;
	transition: border-color 0.2s ease-in-out;
}
.goods-list .item {
	position: relative;
	padding: 10px;
	overflow: hidden;
}
.goods-list .item .img {
	position: relative;
	padding-bottom: 100%;
	width: 100%;
	height: 0;
	text-align: center;
}
.goods-list .item .img .img-responsive {
	position: absolute;
	margin: auto;
	visibility: visible;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	max-height: 100%;
}
.goods-list .item .info {
	height: 60px;
	line-height: 30px;
	text-align: center;
}
.goods-list .item .info h5 {
	margin: 0;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
}
.goods-list .item .info h5 a {
	font-size: 14px;
	color: #aaa;
}
.goods-list .item .info h5 a:hover {
	color: #666;
	text-decoration: none;
}
.goods-list .item .info p {
	font-size: 16px;
	color: #aaa;
}
.goods-list .item .info p span {
	margin-right: 10px;
}
.goods-list .item .info .like {
	font-size: 18px;
	color: #d9534f
}


/*item-view*/
.item-view {
	border: 1px solid #eee;
}

.item-title {
	padding: 0;
}

.item-title h3 {
	margin-top: 0;
	line-height: 30px;
}
.item-title .meta {
	margin: 10px 0 0 0;
	padding-bottom: 2px;
	color: #c5c5c5;
	border-bottom: 1px solid #eee;
}

.item-viewport{
	padding: 0;
}
.item-viewport .carousel {
	border-width: 0 1px 1px 1px;
	border-color: #eee;
	border-style: solid;
}
.item-viewport .carousel-inner .item {
	height: 0;
	padding-bottom: 100%;
}
.item-viewport .carousel-inner .item img {
	position: absolute;
	visibility: visible;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	max-height: 100%;
}
.item-viewport .carousel-indicators li {
	/*background-color: #999;*/
	border-color: #999;
}
.item-viewport .carousel-indicators .active {
	background-color: #1abc9c;
	border-width: 0;
}

.item-detail {
	padding: 15px 0 0 60px;
	/*border-right: 1px solid #eee;*/
}

.item-detail .price h3 {
	display: inline-block;
}
.item-detail .buy {
	margin-top: 10px;
}
.item-detail .buy a {
	width: 48%;
}


















